<div class="columns">

  <div class="column">
    <button on:click="fire('save', {type: 'md'})" type="button" class="button is-primary {{savingClass}}">Save Markdown</button>
  </div>
  <div class="column">
    <button on:click="fire('save', {type: 'html'})" type="button" class="button is-primary is-pulled-right {{savingClass}}">Save HTML</button>
  </div>

</div>

<script>
  export default {
    onrender() {
      this.savingObserver = this.observe('saving', saving => {
        this.set({savingClass: saving?'is-loading':''});
      });
    },

    onteardown() {
      this.savingObserver.cancel();
    },

    data() {
      return {
        savingClass: '',
        saving: false
      };
    }
  }
</script>
