<ul class="window-actions">
  <li><span on:click="close()" class="icon icon-record close"></span></li>
  <li><span on:click="min()" class="icon icon-record min"></span></li>
  <li><span on:click="max()" class="icon icon-record max"></span></li>
</ul>

<script>
  export default {
    data() {
      return {
        win: null
      }
    },

    methods: {

      close() {
        const win = this.get('win');
        if(win) {
          win.close();
        }
      },

      min() {
        const win = this.get('win');
        if(win) {
          win.minimize();
        }
      },

      max() {
        const win = this.get('win');
        if(win) {
          if(win.isMaximized()) {
            win.unmaximize();
          } else {
            win.maximize();
          }
        }
      }

    }
  };
</script>

<style>
  .window-actions {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 105%;
  }

  .window-actions span.icon {
    display: inline-block;
    float: left;
    padding: 0 2.5px;
  }

  .window-actions:hover .close {
    color: red;
  }
  .window-actions:hover .min {
    color: yellow;
  }
  .window-actions:hover .max {
    color: green;
  }
</style>
